language: python

python:
- 3.7.5

install:
- python setup.py install

script:
- pytest --cov=foxylib/

notifications:
  slack: foxytrixy:HZwjgEulu0umNtMJ1E9UhGPA#travis-TestEnglishSimpleTokenizerfoxylib

after_success:
- coveralls

before_install:
- mkdir -p env/googleapi
- ENV=dev ./scripts/gpg/dec.bash
