include foxylib/tools/date/RelativeTimedelta.yaml
include foxylib/tools/lorem_ipsum/ko.txt

include foxylib/tools/videogame/overwatch/hero/overwatch_hero.yaml
include foxylib/tools/videogame/overwatch/tier/overwatch_tier.yaml