<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>co.elastic.kibana</string>
    <key>ProgramArguments</key>
    <array>
      <string>/Users/moon/Downloads/kibana/bin/kibana</string>
    </array>
    <key>RunAtLoad</key>
    <false/>
    <key>StandardErrorPath</key>
    <string>/tmp/log/kibana/stderr.log</string>
    <key>StandardOutPath</key>
    <string>/tmp/log/kibana/stdout.log</string>
  </dict>
</plist>
